---
import Layout from "../../layouts/Layout.astro"
import { newtClient } from "../../lib/newt"
import type { Article } from "../../lib/newt"

export const getStaticPaths = async () => {
  const { items: articles } = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["title", "slug", "body"],
    },
  })
  return articles.map((article) => ({
    params: { slug: article.slug },
  }))
}
---

<Layout title="Article">
  <main></main>
</Layout>
