---
import Layout from "../layouts/Layout.astro"
import { newtClient } from "../lib/newt"
import type { Article } from "../lib/newt"

const { items: articles } = await newtClient.getContents<Article>({
  appUid: "blog",
  modelUid: "article",
  query: {
    select: ["title", "slug", "body", "coverImage", "tags", "pick", "articlePhoto","fileName", "height"],
  },
})
---

<Layout title="Articles">
  <main>
    <ul>
      {
        articles.map((article) => {
          return (
            <>
            <!--
              // <p>
                //   {article.slug === "article-2" ? article.slug : "not bingo!"}
                // </p>
            -->

              <li>
                <a href={`/articles/${article.slug}`}>
                  <div>
                    <img
                      src={article.coverImage ? article.coverImage.src : ""}
                      style={{ maxWidth: "200px" }}
                    />
                  </div>
                  {article.title}
                  <br />
                  {article.slug}
                  <br />
                  {article.articlePhoto.fileName}
                  <br />
                </a>
              </li>
            </>
          )
        })
      }
    </ul>
  </main>
</Layout>
